* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #292524;
  color: #fafaf9;
  font-family: sono, sans-serif;
  padding: 48px 64px;
}

.hidden {
  display: none !important;
}

/*main layout*/

#root {
  max-width: 1500px;
  margin: 0 auto;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
  height: 80vh;
}

.message {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

.disputed {
  color: #ef4444;
  font-weight: bolder;
  margin-right: 10px;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

section {
  overflow: scroll;
  scrollbar-width: none;
}

.header {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category {
  margin-bottom: 16px;
}

/*elements */

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: Coiny, sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Coiny, sans-serif;
  padding: 3px 10px 0 10px;
}

.vote-buttons {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  gap: 8px;
}

.vote-buttons button:hover {
  background-color: #292524;
}

.vote-buttons button:disabled {
  background-color: #44403c;
}

.vote-buttons button {
  background-color: #a8a29e;
  border: none;
  font-size: 18px;
  border-radius: 30px;
  padding: 6px 12px;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

ul {
  list-style: none;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

.source:hover,
.source:active {
  color: #3b829e;
}

.btn {
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: Coiny, sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  color: inherit;
  padding: 16px 0 13px;
  transition: 0.3s;
  background-image: linear-gradient(
    135deg,
    #3b82f6,
    #16a34a,
    #ef4444,
    #eab308,
    #db2777
  );
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
}

.fact-form input,
.fact-form select {
  background-color: #78716c;
  border: none;
  border-radius: 100px;
  padding: 16px;
  font-family: inherit;
  color: inherit;
  width: 220px;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form input::placeholder {
  color: #a8a29e;
}

.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}
/* FORM */

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
}

@media (max-width: 1000px) {
  body {
    padding: 32px 48px;
  }

  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
    height: auto;
  }
}

@media (max-width: 600px) {
  #root {
    padding: 24px;
  }

  .header {
    flex-direction: column;
    gap: 16px;
  }

  .fact-form {
    padding: 16px;
  }

  .fact {
    padding: 12px 16px;
  }
}
